<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="ReadyAI.ZPM">
    <Module>
      <Name>ReadyAI</Name>
      <Version>1.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Utils.PKG"/>
      <Resource Name="Setup.PKG"/>
      <Resource Name="ReadyAI.PKG"/>
      <WebApplication
        Url="/mcp/readyai/advanced"
        Recurse="1"
        Resource="MedicalAccess"
        DispatchClass="ReadyAI.AdvancedMCP"
        AutheEnabled="#{$$$AutheCache}"
        Type="18" 
       /> 
      <WebApplication
        Url="/mcp/readyai/basic"
        Recurse="1"
        DispatchClass="ReadyAI.BasicMCP"
        AutheEnabled="#{$$$AutheCache}"
        Type="18" 
       /> 
    </Module>
    
  </Document>
</Export>