<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="ReadyAI.ZPM">
    <Module>
      <Name>ReadyAI</Name>
      <Version>1.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>ObjectScript</SourcesRoot>
      <Resource Name="ReadyAI.PKG"/>
      <Resource Name="Examples.PKG"/>
      <Resource Name="RAG.PKG"/>
      <WebApplication
        Url="/mcp/readyAI"
        Recurse="1"
        DispatchClass="ReadyAI.MCPService"
        AutheEnabled="#{$$$AutheCache}"
        Type="18" 
       /> 
    </Module>
    
  </Document>
</Export>